.DS_Store
.gitignore
diagrams/
completed_exercises/


exercises/chunk/index.js
exercises/fizzbuzz/index.js
exercises/palindrome/index.js
exercises/reverseint/index.js
exercises/reversestring/index.js
